/* GLOBAL STYLES */
html {
    box-shadow: 0 0 0 30px #555 inset;
}
body {
    font-family: helvetica, arial, sans;
    min-height: 100vh;
    line-height: 1.4rem;
    color: #333;
    /*     padding: 0 30px 30px 30px; */
    box-sizing: border-box;
    margin: 0 30px 30px 30px;
}

/* HEADER STYLES */
.header {
    display: flex;
    background-color: #555;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 8vh;
    z-index: 20;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0 0 0 -30px;
}
.nav-links > li {
    display: inline-block;
    padding: 0 1em;
}
.nav-links > li:first-child a {
    color: #33ccff;
}
.nav-links > li:first-child a:hover {
    color: #fff;
}
.nav-links > li + li {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-links a:hover {
    color: #33ccff;
}
/* some... STYLES */
.container {
    width: 100%;
    height: 92vh;
    padding-top: 8vh;
    background-color: rgba(200, 200, 30, 0.2);
}
.content-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid #000;
    grid-column-gap: 5px;
    grid-row-gap: 3rem;
    height: 75vh;
    width: 60%;
    padding: 2rem;
    margin: 5vh auto;
    align-items: center;
    grid-template-rows: repeat(15, 1fr);
}
.projects {
    /*     box-sizing: border-box; */
    border: 1px solid #999;
    background-color: #eee;
    overflow-y: scroll;
    grid-column: 2 / 4;
    grid-row: 1 / 5;
}
.project-list {
    list-style: none;
    padding: 1rem 2rem 1rem 1rem;
}
.projects > ul > li:nth-child(1) {
    border-top: none;
}
.project-list li {
    border-top: 0.5px dashed #aaa;
}
.project-list li:hover {
    background-color: #dcb;
}
.new-project-name {
    grid-column: 4 / 5;
    grid-row: 1 / 5;
    align-self: center;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #aaa;
}
.project-create,
.issue-create {
    height: 30px;
    font-size: 1rem;
    font-style: italic;
    color: #444;
    background-color: #eee;
    border: 1px solid #aaa;
}
.project-create {
    grid-column: 5 / 6;
    grid-row: 1 / 5;
}
.project-create:hover,
.issue-create:hover {
    background-color: #dcb;
}
.row-2 {
    height: 1.5rem;
}
.priority-dropdown {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
    width: 100%;
    max-width: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #444;
}
.priority-dropdown:hover {
    background-color: #dcb;
}
.date-picker {
    grid-column: 3 / 4;
    grid-row: 5 / 7;
}
.new-issue-name {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #aaa;
}
.issue-create {
    grid-column: 5 / 6;
    grid-row: 5 / 7;
}
.issue-list {
    grid-column: 2 / 6;
    grid-row: 7 / 16;
    align-self: stretch;
    list-style: none;
    border: 1px solid #aaa;
    padding: 1rem;
}
