<content-container class="content-container">
  <div class="project-row">

    <project-list projects={ this.projects }></project-list>
    <projectForm projects={ this.projects }></projectForm>

  </div>


  <new-issues-row todos={ this.todos } class="new-projects-row"></new-issues-row>


  <issue-list todos={ this.todos } class="issue-list"></issues-list>

    <script>

     var tag = this;
     this.bus = opts.bus;
     /* console.log(opts.bus);
      * console.log(bus);*/
     this.todos = new TodoCollection(this, bus);
     this.projects = new ProjectCollection(this, opts.bus);

    </script>
</content-container>
