<content-container class="content-container">
  <div class="project-row">

    <project-list bus={ bus } projects={ projects.collection }></project-list>
    <projectForm bus={ bus } projects={ projects }></projectForm>

  </div>


  <new-issues-row todos={ this.todos } class="new-projects-row"></new-issues-row>


  <issue-list bus={ this.bus } todos={ this.todos } class="issue-list"></issues-list>

    <script>

     const tag = this;
     tag.bus = opts.bus;
     /* console.log(opts.bus);
      * console.log(bus);*/
     tag.todos = new TodoCollection(this, tag.bus);
     tag.projects = new ProjectCollection(this, tag.bus);


     tag.bus.on('deleteIssue', (uuid) => {
       this.todos.deleteIssue(uuid);
//       this.todos.trigger('todosUpdated');
     });
     tag.bus.on('completeIssue', (issue) => {
       this.todos.completeIssue(issue);
       //      this.bus.trigger('todosUpdated');
     });


    </script>
</content-container>
