<issue >
  <td ><input  checked={ todo.done } type="checkbox"  onclick="{ complete }"/>
  </td>
  <td onclick={ show }>
    { todo.title }
  </td>
  <td>
    { todo.priority }
  </td>
  <td onclick={dating}>
    { todo.due_date.substring(0, 10) }
  </td>
  <td>
    { todo.projectName }
  </td>
  <td>
    <a onclick={ deleteIssue } class="wastebin" href="#"><span class="wastebin" style="text-decoration: none;">&#128465;</span></a>
  </td>

  <script>
   // Properties
   const tag = this;
   tag.bus = this.parent.bus;


   dating() {
     console.log(tag.todo.due_date);
   }

   // Functions
   tag.deleteIssue = (e) => {
     e.preventDefault();
     if(confirm("Time to die?")) {
       debugger;
       tag.bus.trigger('deleteIssue', tag.todo);
     }
   }

   tag.done = (e) => {
     e.preventDefault();
     return tag.todo.done;
   }

   tag.show = () => {
     console.log(this);
   }

   tag.complete = (e) => {
     e.preventDefault();
     console.log(tag.todo.done);
     tag.todo.done = !tag.todo.done;
     console.log(tag.todo.done);
     console.log(tag.todo);
     //     var done = tag.done;
     bus.trigger('completeIssue', tag.todo);
     //setTimeout(tag.update(), 3000);
     tag.update();
   }

  </script>

  <style>
   a.wastebin,
   a.wastebin > span.wastebin {
       text-decoration: none;
       color: #ff0000;
       font-size: 1.2em;
   }

   li {
       list-style: none;
   }
   span {
       float: right;
   }
   span:hover {
       -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
       -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
   }


  </style>


</issue>
