<issue-list>
  <table>

    <thead>
      <tr>
      <th onclick={sort} class="table-heading"><a href="#">Done</a></th>
      <th class="issue table-heading"><a href="#">Issue</a></th>
      <th></th>
      <th class="table-heading"><a href="#">Priority</a></th>
      <th class="table-heading"><a href="#">Due Date</a></th>
      <th class="table-heading"><a href="#">Project</a></th>
    </tr>

      </thead>

    <tbody>
      <tr  each="{ allTodos() }" data-is="issue">
      </tr>
    </tbody>
  </table>

  <script>
   // Properties
   const tag = this;
   tag.todos = opts.todos;
   tag.bus = tag.todos.bus;
   tag.selectedProject = "";

   // Functions
   tag.allTodos = () => {
     //     debugger;
     return tag.todos.all(tag.selectedProject);
   }

   tag.sort = (e) => {
     debugger;
     e.preventDefault();
     console.log(e);
     console.log(e.srcElement);
   }

   // Listeners
   tag.bus.on('todosUpdated', () => {
     debugger;
     tag.update();
   });

   tag.bus.on('projectSelected', (el, project) => {
//     debugger;
     if(tag.selectedProject === project.uuid) {
       tag.selectedProject = "";
     }
     else {
       tag.selectedProject = project.uuid;
     }
     //     debugger;
     tag.bus.trigger('todosUpdated');
   });

   this.on('mount', () => {
     tag.todos.fetch();
   });

  </script>



  <style>
   table {
       width: 100%;
       text-align: left;

   }
   .table-heading {
       padding-top: 1em;
   }
   .table-heading a {
       text-decoration: none;
       color: #333;
       width: 100%;
   }
   .table-heading:hover {
       background-color: #dddddd;
   }
   table > :first-child {
       border-bottom: double 2px #aaa;
       text-transform: uppercase;

   }
   table tr {
       border-bottom: dashed 1px #cbd;
   }
   .issue {
       width: 40%;
   }

   issue-list {
       align-self: stretch;
       grid-column: 1;
       grid-row: 3 / 4;
   }
  </style>


</issue-list>
