<issue-list>
  <table>
    <tbody>

      <tr>
        <td onclick={sort} class="table-heading"><a href="#">Done</a></td>
        <td class="issue table-heading"><a href="#">Issue</a></td>
        <td class="table-heading"><a href="#">Priority</a></td>
        <td class="table-heading"><a href="#">Due Date</a></td>
        <td class="table-heading"><a href="#">Project</a></td>
        <td></td>
      </tr>

      <tr each="{ todo in todosCollection }" class=" { completed : todo.done } " data-is="issue">
      </tr>
    </tbody>
  </table>

  <script>
   // Properties
   const tag = this;
//   tag.todos = opts.todos;
   tag.bus = opts.bus;
   tag.selectedProject = "";
   tag.todosCollection = opts.todos;

   tag.sort = (e) => {
     debugger;
     e.preventDefault();
     console.log(e);
     console.log(e.srcElement);
   }

   // Listeners
   tag.bus.on('todosUpdated', () => {
     debugger;
     tag.todosCollection = opts.todos;
     tag.update();
   });

   tag.bus.on('projectSelected', () => {
     tag.todosCollection = opts.todos;
     tag.update();
   });

   this.on('mount', () => {
//     tag.todos.fetch();
   });

  </script>



  <style>
   table {
       width: 100%;
       text-align: left;

   }
   .table-heading {
       padding-top: 1em;
   }
   .table-heading a {
       text-decoration: none;
       color: #333;
       width: 100%;
   }
   .table-heading:hover {
       background-color: #dddddd;
   }
   table > :first-child {
       border-bottom: double 2px #aaa;
       text-transform: uppercase;

   }
   table tr {
       border-bottom: dashed 1px #cbd;
   }
   .issue {
       width: 40%;
   }

   issue-list {
       align-self: stretch;
       grid-column: 1;
       grid-row: 3 / 4;
   }
  </style>


</issue-list>
