<issue if={ uuid }>
  <td checked={ done }><input type="checkbox"  onclick="{ complete }"/>
  </td>
  <td>
    { name }
  </td>
  <td>
   Done: { done ? "true" : "false" }
  </td>
  <td>
    { priority }
  </td>
  <td>
    { date }
  </td>
  <td>
    { projectName }
  </td>
  <td>
    <a onclick={ deleteIssue } class="wastebin" href="#"><span class="wastebin" style="text-decoration: none;">&#128465;</span></a>
  </td>



  <script>
   // Properties
   var tag = this;
   tag.bus = this.parent.bus;

   // functions
   tag.deleteIssue = (e) => {
     e.preventDefault();
     if(confirm("I haven't even watched C-Beams glitter in the dark near"+
                " the Tannhäuser Gate, for god's sake. \n\nTime to die?")) {
       tag.bus.trigger('deleteIssue', tag.uuid);
     }
   }

   tag.complete = (e) => {
     e.preventDefault();
     console.log(tag.done);
     console.log(tag);
     //tag.done = !tag.done;

     //     var done = tag.done;
     bus.trigger('completeIssue', tag);
     //setTimeout(tag.update(), 3000);
   }

  </script>

  <style>
   a.wastebin,
   a.wastebin > span.wastebin {
       text-decoration: none;
       color: #ff0000;
       font-size: 1.2em;
   }

   li {
       list-style: none;
   }
   span {
       float: right;
   }
   span:hover {
       -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
       -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
   }
  </style>


</issue>
