<new-issues-row>
  <div class="prio-and-date-picker">
    <select name="priority" onclick={some} class="priority-dropdown row-2">
      <option  selected="selected">Priority</option>
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
    </select>
    <input ref="priority" name="date" class="date-picker row-2" name="datepicker" type="text" value="Pick a date"/>
  </div>
  <input class="new-issue-name row-2" name="name" type="text" value=""/>
  <input class="issue-create row-2" name="" onclick={submit} type="submit" value="Create Issue"/>

  <script>
   //   console.log(opts);
   var tag = this;
   var todos = opts.todos;
   var bus = todos.bus;
   var selectedProject = "";

   bus.on('projectSelected', (el, project) => {
    // console.log(uuid);
   if (selectedProject === project) {
       this.selectedProject = "";
     }
     else {
       this.selectedProject = project;
     }
   });

   tag.submit = () => {
     console.log(selectedProject);
     var priority = tag.priority.value,
         date = tag.date.value,
         project = this.selectedProject,
         name = tag.name.value;

     if (priority === 'Priority') {
       alert("Assign a priority to new todo");
     }
     else if (date === 'Pick a date') {
       alert("Set a due date for new todo");
     }
     else if (!selectedProject) {
       alert("To which project does the todo belong");
     }
     else if (name === "") {
       alert("Set a name for new todo");
     }
     else {
       todos.add(name, date, priority, project);
       console.log(project);
       tag.name.value = '';
     }
   }

   bus.on('projectSelected', (uuid) => {
     if (selectedProject === uuid) {
       selectedProject = "";
     }
     else {
       selectedProject = uuid;
     }
   });

   tag.update();


   getValue = (name) => {
     return document.getElementsByClassName('name').value;
   }

  </script>


</new-issues-row>
