<project>
  <li onclick={select} class=" { selected : project.active } ">
    { project.title }
  </li>

  <script>
   // Properties
   var tag = this;
   tag.bus = opts.bus;

   console.log(tag.project);

   // Functions
   tag.select = (el) => {
     el.preventDefault();
     console.log(this.project);
//     console.log(this.project);
     this.project.active = !this.project.active;
//     console.log(this.project.selected);
     //this.bus.trigger('projectSelected', el, tag._item);
   }

  </script>

  <style>
   .selected {
       background-color: #dcb;
   }
  </style>

</project>
