<project-list>
  <div class="projects">
    <ul class="project-list">
      <project bus={ bus } each="{ project in projects }"></project>
    </ul>
  </div>

  <script>

   const tag = this;
   tag.projects = opts.projects;
   tag.bus = opts.bus;

   // Functions
   tag.allProjects = () => {
     return this.projects.all();
   }

   // Listeners
   bus.on('projectsUpdated', () => {
     debugger;
     this.update();
   });


  </script>

  <style>

   project-list {
       border: 1px solid #999;
       background-color: #eee;
       overflow-y: scroll;
       align-self: stretch;
   }


  </style>

</project-list>
