<projectForm id="newProject">
  <input class="new-project-name" style="padding=0;" name="name" type="text" value=""/>
  <input class="project-create"  onclick={submit} type="submit" value="Create Project"/>


  <script>
   const tag = this,
         bus = opts.bus;

   tag.submit = () => {
     if(tag.name.value) {
       bus.trigger('projectCreated', tag.name.value);
       tag.name.value = '';
     } else {
       alert('Choose a name for the project, dummy!');
     }
   }

  </script>

</projectForm>
